@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* globals.css */
@media print {
  * {
    /* Modern colors ko standard colors se replace karein */
    color-interpolation-filters: sRGB !important;
  }
}

#slip-print-area {
  background-color: white !important;
  color: black !important;
}

#slip-print-area, #slip-print-area * {
  color: #000000 !important;
  background-color: transparent;
  border-color: #000000 !important;
}

#slip-print-area {
  background-color: #ffffff !important;
}